
 @import url('https://fonts.cdnfonts.com/css/kanit');
 @import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

                
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-family: 'Kanit', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

/* FONDO */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(61, 61, 163, 0.2), rgba(87, 87, 221, 0.2)), url(ImgLogin/Fondo\ regristro.png) center/cover no-repeat ;
    filter: brightness( 0.9);
    z-index: -1;
}

/* HEADER */
header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    background: #ddd;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}

/* CONTENEDOR */
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.Padre {
    background: url(ImgLogin/recurso\ 1.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 40px;
    padding: 40px;
    
}

/* TARJETAS */
.card {
    border-radius: 20px;
    padding: 30px;
}

/* FORMULARIO */
.form-card {
    width: 38%;
    margin: 40px;
    background: rgba(8, 1, 44, 0.35);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur (12px);
    color: white;

    animation: slideInLeft 0.8s ease-out;
}

.form-card p {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: #b2bcde;
     font-family: 'Segoe UI', sans-serif;
}

.back-login {
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: right;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn.outline {
    background: transparent;
    color: #d6dee6;
    border: 1px solid #d6dee6;
}

.btn {
    margin-top: 22px;
    padding: 13px;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

form {
    width: 90%;
    margin: 29px;
    display: flex;
    flex-direction: column;
    
}

label {
    font-size: 12px;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.15); 
    color: white;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.password-box {
    display: flex;
    align-items: center;
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 35px; /* espacio para el ícono */
}

.password-box span {
    position: absolute;
    color: rgb(180, 167, 167);
    right: 10px;
    cursor: pointer;
}

#error{
    font-size: 12px;
    text-align: left;
    margin-top: 6px;
    color: rgb(233, 223, 223);
    font-family: 'Kanit', sans-serif;
}

.divider {
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 15px 0;
    color: #ddd;
}

.divider hr {
  flex: 0.45;             
  border: none;
  height: 1px;
  margin: 15px 0;
  background-color: white;
  opacity: 0.6;
}

/* BOTÓN */
button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(208, 211, 255);
    color: #211f63;
    font-weight: bold;
    cursor: pointer;
}

/* CARD DERECHA */
.info-card {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.info-card p {
    font-size: 22px;
    font-style: italic;
    line-height: 1.6;
    max-width: 300px; 
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}